<div class="container-fluid">
  <div class="row">
    <pre>{{ detail }}</pre>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="timestamp">Timestamp</label>
          <label id="timestamp" class="form-control">{{
            detail.aggregate.timestamp
          }}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="completed">Completed Scenarios</label>
          <label id="completed" class="form-control">{{
            detail.aggregate.scenariosCompleted
          }}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="total_scenarios">Total Scenarios</label>
          <label id="total_scenarios" class="form-control">{{
            detail.aggregate.scenariosCreated
          }}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="codes">Codes</label>
          <!-- <ul id="codes">
            <li ng-repeat="code in getObjectFields(detail.aggregate.codes)">
              {{ code }}
            </li>
          </ul> -->
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="errors">Erros</label>
          <!-- <ul id="errors">
            <li ng-repeat="error in getObjectFields(detail.aggregate.errors)">
              {{ errors }}
            </li>
          </ul> -->
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="sceneDuration">Scene Duration</label>
          <!-- <ul id="sceneDuration">
            <li
              ng-repeat="scene in Object.keys(detail.aggregate.scenarioDuration)"
            >
              {{ scene }}
            </li>
          </ul> -->
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label for="latency">Latency</label>
          <!-- <ul id="latency">
            <li ng-repeat="latency in Object.keys(detail.aggregate.latency)">
              {{ latency }}
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <hr class="mb-4" />
  <div class="row">
    <table class="table" style="height: 90vh;">
      <thead>
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Concurrency</th>
          <th scope="col">Scenarios Created</th>
          <th scope="col">Scenarios Completed</th>
          <th scope="col">Avg.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in detail.intermediate | orderBy: 'timestamp'">
          <th scope="row">{{ item.timestamp }}</th>
          <td scope="row">{{ item.concurrency }}</td>
          <td scope="row">{{ item.scenariosCreated }}</td>
          <td scope="row">{{ item.scenariosCompleted }}</td>
          <td scope="row">
            {{ (item.scenariosCompleted / item.scenariosCreated) * 100 }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
